<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<listeners>
		<listener class-name="org.automation.listeners.SuiteListener" />
		<listener class-name="org.automation.listeners.TestListener" />
		<listener
			class-name="org.automation.listeners.ExecutionListener" />
	</listeners>

	<test name="Application">
		<classes>
			<class name="org.automation.login.LoginTest" />
			<class name="org.automation.logout.LogoutTest" />
		</classes>
	</test>
</suite> 
